<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ui.app.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllergifyApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.AllergyDetailScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SettingUserAdjustment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.AllergyInformationScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.registerscreen.RegisterSuccessScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpasswordscreen.ChangePasswordSuccessScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpasswordscreen.ChangePasswordScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpasswordscreen.ForgotPasswordOtpScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpasswordscreen.ForgotPasswordEmailScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginscreen.LoginEmailScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginscreen.LoginScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.registerscreen.RegisterEmailScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.registerscreen.RegisterScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.landingscreen.LandingScreenSeven"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.landingscreen.LandingScreenSix"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.landingscreen.LandingScreenFive"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.landingscreen.LandingScreenFour"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.landingscreen.LandingScreenThree"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.landingscreen.LandingScreenTwo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.landingscreen.LandingScreenOne"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.IntroScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"/>
    </application>

</manifest>